<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="width: 75%">
    <div class="ar-2-1" style="position: relative">
      <video *ngIf="video" class="fill-container" playsinline autoplay controls>
        <source [src]="video.safeUrl" type="video/mp4" />
      </video>
    </div>
  </div>
  
  <ion-button (click)="uploadVideo()" fill="outline" class="ion-margin-vertical" expand="block" color="secondary">Upload Video</ion-button>
  <ion-button (click)="submit()" fill="outline" class="ion-margin-vertical" expand="block" color="primary">Submit</ion-button>
</ion-content>
